body 
{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


/********** HEADER *********/
.header{
    
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0%;
    background-color: #072e33;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius:50% ;
}

.logo{
    position: relative;
    font-size: 25px;
    color: rgb(11, 204, 230);
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.header img
{
    width: 100px;
    height: 70px;
}

.navbar a{
    
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop 04s ease forwards;
}
.navbar a:hover{
    color: #0ef ;
}




/****************** ANIMATIONS *************/

@keyframes slideTop {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideBottom{
    0% {
            transform: translateY(-100px);
            opacity: 0;
        }
    
        100% {
            transform: translateY(0px);
            opacity: 1;
        }
}
@keyframes slideLeft {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }

}



/* Section class="home1" */
.home1
 {
     display: flex;
     align-items: center;
     padding: 10px 10% 0;
 }
 .home1 img
 {
    padding-left: 5%;
 }
.cert
{
    
    animation: slideRight 1s ease forwards;
    animation-delay: 0s ;
    padding-top: 1%;
    opacity: 0;
    font-weight: 500;
    color:rgb(0, 0, 0);
    text-align: center;
    font-size: 150%;
    margin: 20px auto;  
    text-align: center;
    max-width: 90%;
    font-style: italic;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
.cert1
{
        
    animation: slideRight 1s ease forwards;
    animation-delay: 0s ;
    padding-top: 1%;
    padding-bottom: 1%;
    opacity: 0;
    font-weight: 500;
    color:rgb(0, 0, 0);
    text-align: center;
    font-size: 70%;
    margin: 20px auto;  
    text-align: center;
    max-width: 100%;
    font-style: italic;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */

}


/* FOOTER */
.footer
{
    background: linear-gradient(80deg, #072e33 50%, #072e33 50%);
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    color: rgb(255, 255, 255);
    text-align: center;
    text-size-adjust: auto;
    justify-content: space-between;
    padding-left: 40%;
    display: flex;
}
